h1 {
    font-family: century gothic, sans-serif;
    font-size: 50px;
}

h3 {
    font-family: century gothic, sans-serif;
    font-size: 16;
}

body {
    font-family: century gothic, sans-serif;
    font-size: 14;
}

td {
    padding: 5px;
}